nav {
  position: fixed;
  height: 70px;
  width: 100%;
  background-color: rgb(25, 113, 228);
  display: flex;
  align-items: center;
  z-index: 999;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

nav img {
  padding: 10px;
  padding-left: 20px;
  height: 70%;
}

nav ul {
  width: 100%;
  display: flex;
}

nav .right-items {
  display: flex;
  margin-left: auto;
}

nav li {
  list-style-type: none;
  padding-bottom: 2px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 10px;
  margin-right: 10px;
  transition: transform 0.3s ease;
}

nav li:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
  border-bottom: solid 1px rgb(255, 255, 255);
}

nav a {
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
